*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    margin: 0px;
    top: 0;
    background-color:#1A2238;
}
.navbar{
    position: sticky;
    top: 0;
}
.navbar ul{
    padding: 0px 38px;
    margin: 0px;
    display: flex;
    float: right;
}
.navbar li{
    list-style: none;
}
.navbar a{
    text-decoration: none;
    color: white;
    padding: 25px;
    display: block;
    text-align: center;
    margin-right: 25px;
    margin-top: 10px;
    transition: border-bottom 0.25s;
}
.navbar a:hover{
    border-bottom: 3px solid aqua;
    color: aqua;
}
.img1{
    position: relative;
    width: 350px;
    border-radius: 5px;
    top: 155px;
    left: 150px;
    border-bottom: 3px solid aqua;
}
.img2{
    height: 60vh;
    position: relative;
    left: 850px;
    top: 170px;
    border-radius: 8px;
    border-bottom: 3px solid aqua;
}
.name{
    font-size:5em;
    position: absolute;
    top: 22%;
    left: 2.5em;
    color: white;
}
.name1{
    font-size:5em;
    position: absolute;
    top: 22%;
    left: 6em;
    color: white;
}
.name1::first-line{
    color:#9DAAF2;
}
.Aname{
    font-size:3em;
    position: relative;
    bottom: 7.6em;
    left: 12.5em;
    color: white;
}
.Aname1{
    font-size:3em;
    position: relative;
    bottom: 9.6em;
    left: 14.5em;
    color: white;
    width: 455px;
    border-bottom: 3px solid aqua;
}
.Aname1::first-line{
    color:#9DAAF2;
}
.p1{
    position: absolute;
    top: 44%;
    left: 11em;
    color: white;
    font-size: 18px;
    word-spacing: 4px;
}
.Ap{
    position: relative;
    bottom: 26.8em;
    left: 33.5em;
    color: white;
    font-size: 18px;
    word-spacing: 8px;
}
.btn1{
    position: absolute;
    font-family: sans-serif;
    width: 150px;
    font-size: 19px;
    padding: 14px;
    border-radius: 5px;
    background-color:#8695e5;
    color: white;
    left: 10.3em;
    top: 24.5em;
}
.btn1:hover{
    background-color:  #6e7ccf;
}
.btn2{
    position: absolute;
    font-family: sans-serif;
    width: 150px;
    font-size: 19px;
    padding: 14px;
    border-radius: 5px;
    background-color:#8695e5;
    color: white;
    left: 20em;
    top: 24.5em;
}
.btn2:hover{
    background-color:  #6e7ccf;
}
section{
    height: 100vh;
}
#aboutme{
    background-color: #1d3557;
}
#skills{
    background-color: #3d405b;
}
#projects{
    background-color: #457b9d;
}

@media screen and (max-width:720px){
    .navbar ul{
        padding: 0px 10px;
    }
    .navbar a{
        margin-right: 0px;
    }
    .name{
        font-size:3em;
        top: 27%;
    }
    .name1{
        font-size:3em;
        top: 27%;
    }
    .name1::first-line{
        color:#00fff2;
    }
    .p1{
        top: 44%;
        left: 5em;
        color: white;
        font-size: 17px;
        word-spacing: 4px;
    }
    .btn1{
        left: 6em;
        top: 27em;
        font-size: 18px;
        padding: 11px;
        width: 130px;
    }
    .btn1:hover{
        background-color:  #00fff2;
    }
    .btn2{
        left: 15em;
        top: 27em;
        font-size: 18px;
        padding: 11.5px;
        width: 140px;
    }
    .btn2:hover{
        background-color:  #00fff2;
    }
    .img2{
        display: none;
    }
    .img1{
        width: 200px;
        border-radius: 5px;
        top: 90px;
        left: 150px;
    }
    .Ap{
        top: 45px;
        left: 6em;
        font-size: 11px;
        word-spacing: 2px;
    }
    .Aname{
        font-size:1.5em;
        top: 93px;
        left: 5em;
        color: white;
    }
    .Aname1{
        font-size:1.5em;
        top: 45px;
        left: 7em;
        width: 230px;
        border-bottom: 3px solid aqua;
    }
    .Aname1::first-line{
        color:#00fff2;
    }
}