body{
    background-color: #5A72A0;
}
#labelCount{
    font-size: 6em;
    font-family: serif;
    text-align: center;
    color: wheat;
}
button{
    padding: 15px;
    border-radius: 5px;
    font-size: 1.5em;
    color: black;
    background-color: #43efff;
    transition: background-color 0.25s;
}
button:hover{
    background-color: #29b1c6;
}
#buttonContainer{
    text-align: center;
}
#randombtn{
    color: black;

}